<style type="text/css">

.cellpadding td {
  padding-left:8px;
  padding-right:8px;
}

/*
.cellpadding img {
  width: auto;
  height: auto;
}
*/

/* maybe this should be h1.title ? */

h1 {
  color: black;
  font-weight: bold;
}


h2 {
  color: #f56477;
  font-weight: bold;
}

h3, h4 {
  color: #ab4653;       /* Hippie pink */
  font-weight: bold;
}

BODY { 
  background: white; 
  font-family: Arial, Helvetica, sans-serif;
}

</style>